<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LTalk</title>
    {{ url_for('static', filename='mode/javascript/javascript.js') }}
    <script src="{{ url_for('static', filename='lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
    <script src="{{ url_for('static', filename='mode/javascript/javascript.js') }}"></script>
  </head>
  <body>
  {% block content %}{% endblock %}
  </body>
</html>